*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1000px;
}
body{
    background-color: white;
    color: black;
    line-height: 1.5;
}
header{
    background-color: gray;
    padding: 20px 0;
   color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
    margin: auto ;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    padding: 0;
}
a:hover{
    color: green;
    text-decoration: none;
}
section{
    border-radius: 50px;
    border: 3px;
    box-shadow: 0 0 10px 0 ;
    margin: 50px auto;
    padding: 25px;
}
#about-scetion h3,div{
    text-align: center;
}
section a{
    text-decoration: none;
}
h1,h2
{
    text-align: center;
    color: green;
    font-weight: bold;
}
.img img{
    border-radius: 100px;
    border: 2px solid black;
}
.img{
    text-align: center;
    padding: 20px;
}
ul{
    list-style-type: square;
    margin-bottom: 20px;
}
footer{
    background-color: gray;
    color: white;
    border-radius: 25px;
    padding: 20px 30px;
}
footer a{
    font-weight: bold;
    color: white;
    text-decoration: none;
   
}